/*****************************************************************************/
/*                                   THEMES                                  */
/*****************************************************************************/

/* TODO: this was hacked together, clean it up                               */

:root {
  --font-size: 17px;
  --font-weight: bold;
  --font: tewi, Source Code Pro, sans;
  --padding: 4px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* ---------- Gruvbox Dark ---------- */
  --fg: #ebdbb2; /* light1 */
  /*--bg: #282828;*/ /* dark0 */
  --border: #3c3836; /* dark1 */
  --main-fg: #83a598; /* blue */
  --accent-fg: #b8bb26; /* green */

  /* Unused Alternate Colors */
  --bg: #1d2021; /* dark0_hard */
  /*--cyan: #076678;*/
  /*--purple: #8f3f71;*/
  /*--red: #fb4934;*/
  --yellow: #faef2f;

}

/*****************************************************************************/
/*                                    CSS                                    */
/*****************************************************************************/

/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker, #vimiumHintMarkerContainer div.vimiumHintMarker {
  background: var(--bg);
  border: 1px solid var(--border);
}

#vimiumHintMarkerContainer div span {
  color: var(--fg);
  text-shadow: none;
  font-size: 17px;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  color: var(--yellow);
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: var(--fg);
}

/* -------- VOMNIBAR -------- */
#vomnibar {
  animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  background: var(--bg);
  border: none;
}

/* Animate Slide in */
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--fg);
}


#vomnibar ul {
  background: var(--bg);
  border-top: 1px solid var(--border);
  margin: 0;
}

#vomnibar li {
  border-bottom: 1px solid var(--border);
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
}

#vomnibar li .vomnibarSource {
  color: var(--main-fg);
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: var(--main-fg);
}

#vomnibar li .vomnibarUrl {
  color: var(--fg);
}

#vomnibar li .vomnibarMatch {
  color: var(--accent-fg);
  font-weight: normal;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--main-fg);
}

#vomnibar li.vomnibarSelected {
  background-color: var(--border);
}

/* -------- HUD -------- */
div.vimiumHUD {
  background: var(--bg);
  border: 1px solid var(--border);
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: var(--fg);
}

div.vimiumHUD .hud-find {
  background-color: transparent;
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background-color: transparent;
}

body.vimiumFindMode ::selection {
  background-color: var(--yellow) !important;
  color: var(--bg) !important;
}
